In [5]:
import pandas as pd

indiv = 2
table_flag = False
t0 = '0:02:52'
t1 = '0:03:52'

url= 'https://g2j0zbptu6.execute-api.us-east-1.amazonaws.com/default/baboon?indiv={}&table={}&t0={}&t1={}'.format(indiv,table_flag,t0,t1)
pd.read_json(url)

    indiv    row     time           x           y
0       2  43151  0:02:52 -781.547059  425.713020
1       2  43152  0:02:54 -781.469135  425.690756
2       2  43153  0:02:56 -781.357816  425.579439
3       2  43154  0:02:58 -781.257629  425.523780
4       2  43155  0:03:00 -781.157442  425.501517
5       2  43156  0:03:02 -781.068386  425.512649
6       2  43157  0:03:04 -781.001595  425.568307
7       2  43158  0:03:06 -780.979331  425.623966
8       2  43159  0:03:08 -780.957067  425.635097
9       2  43160  0:03:10 -780.945935  425.679624
10      2  43161  0:03:12 -780.979331  425.790942
11      2  43162  0:03:14 -781.023859  425.757546
12      2  43163  0:03:16 -781.101782  425.724151
13      2  43164  0:03:18 -781.201969  425.679624
14      2  43165  0:03:20 -781.324420  425.646229
15      2  43166  0:03:22 -781.458004  425.579439
16      2  43167  0:03:24 -781.613850  425.512649
17      2  43168  0:03:26 -781.747433  425.434727
18      2  43169  0:03:28 -781.858752  425.323410
19      2  43170  0:03:30 -781.925544  425.245488
20      2  43171  0:03:32 -781.970072  425.200961
21      2  43172  0:03:34 -782.025731  425.178697
22      2  43173  0:03:36 -782.092523  425.145302
23      2  43174  0:03:38 -782.159314  425.067380
24      2  43175  0:03:40 -782.237237  425.011722
25      2  43176  0:03:42 -782.337425  424.933800
26      2  43177  0:03:44 -782.404216  424.855878
27      2  43178  0:03:46 -782.459876  424.811351
28      2  43179  0:03:48 -782.526667  424.755692
29      2  43180  0:03:50 -782.571195  424.688902
30      2  43181  0:03:52 -782.593459  424.700034